<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<meta charset="UTF-8">
<body>
<h1>User, welcome spring boot security page!</h1>

<table>
    <caption>User</caption>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Username</th>
        <th>Password</th>
        <th>Role</th>
    </tr>
    <tr th:each="user :${user}"></tr>
    <td th:text="${user.getId()}">id</td>
    <td th:text="${user.getName()}">name</td>
    <td th:text="${user.getSurname()}">surname</td>
    <td th:text="${user.getUsername()}">username</td>
    <td th:text="${user.getPassword()}">password</td>
    <td th:each="role: ${user.getRoles()}" th:text="${role.getName()}">role</td>
</table>

<br/>
<form th:action="@{/logout}">
    <input type="submit" value="Logout">
</form>
</body>
</html>